<div class="container">
  <div class="cards">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="new_card flex flex-col">
        <div class="card-category text-center" style="background-image: url(<%= bookmark.movie.poster_url %>)">
          <div class="card-cover">
            <%= bookmark.movie.title %>
          </div>
          <div id="x">
            <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete} do %>
              <i class="fas fa-times"></i>
            <% end %>
          </div>
        </div>
        <div class="card-cover2">
          <%= bookmark.comment %>
        </div>
      </div>
    <% end %>
    <%= render "bookmarks/form" %>
  </div>
</div>
